@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Raleway', sans-serif;
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .button-effect {
        overflow: hidden;
        isolation: isolate;
    }

    /* width */
    .scrollbar::-webkit-scrollbar {
    width: 12px;
    }

    /* Track */
    .scrollbar::-webkit-scrollbar-track {
        background: #1f2937;
    }
    
    /* Handle */
    .scrollbar::-webkit-scrollbar-thumb {
        background: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
        border-radius: 100vh;
    }
}